#root {
  animation: welcome 300ms ease-in 1;
}
@keyframes welcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: var(--box-shadow-color);
}

.tabs {
  margin-bottom: 10px;
  display: flex;
}

.tabs .tab {
  margin: 0 10px;
}

.tabs .tab::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--box-shadow-color);
  transition: width 0.3s;
}

.tabs .tab:hover::after,
.tabs .tab:active::after,
.tabs .tab.selected::after {
  width: 100%;
}

.change-bg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 20px;
}
.change-bg div {
  background-color: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
.change-bg .color-1 {
  background-color: #fda7df;
  border: 3px solid #6f1e51;
  transition: 0.25s;
}
.change-bg .color-2 {
  background-color: #ffdd59;
  border: 3px solid #ffa801;
  transition: 0.25s;
}
.change-bg .color-3 {
  background-color: #2f3640;
  border: 3px solid#c8d6e5;
  transition: 0.25s;
}

.change-bg div:hover {
  border: 3px solid black;
}
.light-mode {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fda7df;
  color: #6f1e51;
  --light-color: rgba(181, 52, 113, 0.7);
  --box-shadow-color: #6f1e51;
  transition: background 0.25s ease-out;
}
.light-sec-mode {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffdd59;
  color: #ffa801;
  --light-color: rgba(255, 168, 1, 0.8);
  --box-shadow-color: #ffa801;
  transition: background 0.25s ease-out;
}
.dark-mode {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2f3640;
  color: #c8d6e5;
  --light-color: rgba(113, 128, 147, 0.7);
  --box-shadow-color: #c8d6e5;
  transition: background 0.25s ease-out;
}

.list-container .list-task {
  max-width: 300px;
  word-wrap: break-word;
}
.list-container .list-time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-container .list-time .date {
  font-size: 0.75rem;
}
.list-remove {
  padding-left: 5px;
}
.list-container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.strike-through {
  text-decoration: line-through;
  text-decoration-color: rgba(5, 196, 107, 1);
  color: rgb(107, 107, 107);
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-field {
  border-radius: 5px;
  padding: 8px;
  width: 500px;
  border: none;
  transition: 300ms;
  font-size: 1rem;
  font-weight: 600;
}

.input-field:focus {
  border: none;
  outline: 0;
  box-shadow: 3px 4px 0px var(--box-shadow-color);
  transform: scale(1.01);
}
.input-field:hover {
  box-shadow: 3px 4px 0px var(--box-shadow-color);
  transform: scale(1.01);
}

.date {
  color: var(--light-color);
}

.change-bg p {
  color: var(--light-color);
  font-size: 10px;
}

.change-bg {
  cursor: pointer;
  position: relative;
  right: 200px;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 300ms;
  font-size: 1rem;
  font-weight: bold;
}

.item-list:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(1.1);
}

@media screen and (max-width: 550px) {
  .input-field {
    width: 300px;
  }

  .list-container .list-task {
    max-width: 100px;
    word-wrap: break-word;
  }
  .list-container {
    width: 300px;
  }

  .change-bg {
    right: 100px;
  }
}

/* Delete button */

img {
  width: 1rem;
  height: 1rem;
}

.delete {
  margin-top: 10px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid black; */
  border-radius: 5px;
  background-color: #ff5252;
  color: black;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.delete:hover {
  box-shadow: 3px 4px 0px #b33939;
  transform: scale(1.01);
}

.delete:focus {
  box-shadow: 3px 4px 0px #b33939;
  transform: scale(1.01);
}
