

.strike-through {

    text-decoration: line-through;
    text-decoration-color: rgb(42, 212, 42);
    text-decoration-style: wavy;
    color: rgb(107, 107, 107);
}

.form-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.input-field {
    border-radius: 5px;
    padding: 8px;
    width: 500px;
    color: rgb(116, 116, 116);
}

.date{
    color: rgba(136, 132, 132, 0.76);
}



.light-mode {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
    background : rgb(211, 182, 214) ;
  
    
  
    color : white;
  
  }
  
  .dark-mode {
    min-height: 100vh;
     display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    
    background:rgb(68, 68, 68);
  
    color : black;
  
  }

  .item-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
     
    }

.change-bg {
    position: relative;
    right: 200px;
}

@media screen and (max-width: 550px) {
    .input-field {
        width: 300px;
    }

    .change-bg {

        right: 100px;
      
      }
}
